:root {
	--letra-blanco: #fff;
	--color-fondo-oscuro: #002738;
	--color-complento-fondo: #8CBFBF;
	--letra-oscuro: #182121;
}

@font-face {
  font-family: CrimsonText-Regular; 
  src: url("/fonts/CrimsonText-Regular.ttf"); 
}

@font-face {
  font-family: CrimsonText-Bold; 
  src: url("/fonts/CrimsonText-Bold.ttf"); 
}


body{
	color: var(--letra-oscuro);
	font-family: CrimsonText-Regular;
}





#headerer {
	
	font-weight: 500;
}




#acerca {
	background-color: var(--color-fondo-oscuro);
	align-items: center;
	padding: 10%;
	color: #fff;
}

#servicios {
	
	align-items: center;
	padding: 5%;
	text-align: center;
}

#servicios div i {
	color:  #09244E;
}
#servicios div p {
	color:  #09244E;
}


#proyectos {
	background-color: var(--color-fondo-oscuro);
	align-items: center;
	padding: 10%;
	color: #fff;
	text-align: center;
}


.piesasdearte  {
	background-color: #0C3D64;
	align-items: center;
	padding: 3%;
	border-radius: 1%;
}

#contacto {
	
	align-items: center;
	padding: 10%;
}



.owl-carousel .owl-item img{
	width: 4000px;
	margin:inherit 20px;
	border:  groove 2px;
	border-radius: 4%;
	border-color: #CB8346
}


.owl-carousel .owl-dots {
    text-align: center;
}
.owl-carousel .owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid #a49fba !important;
    border-radius: 50%;
    margin: 35px 6px;
}
.owl-carousel .owl-dot.active {
    background-color:#CB9623;
    border: 0 !important;
}

.clients-carousel {
  max-width: 100%;
  margin: auto;
}


footer {
	color: #fff;
	padding: 5%;
	background-color: var(--color-fondo-oscuro)!important;
}

h1 {
	color: var(--letra-blanco);
	font-family: robot;
}

